body {
  background-color: FloralWhite;
}

h1 {
  color: blue;
   font-family: "Georgia", Times, serif;
}
h2 {
  color: steelblue;
    font-family: "Avantgarde", Times, serif;
}
h3 {
  font-family: "Time New Roman", Times, Serif;
}
