body {
  background-color: FloralWhite;
}
h1 {
  color: blue;
   font-family: "Georgia", Times, serif;
}
h2 {
  color: RoyalBlue;
    font-family: "Avantgarde", Times, serif;
}
h3 {
  color: Black;
   font-family: "Arial", Times, serif;
  font-size: 1px;
}

.box {
    width: 800px;
    height: 300px;
    
    padding: 20px;
    
    border: 2px solid black;
    
    margin: 30px;
    
    background-color: lightblue; 
}
